.react-pdf_Page_canvas{
    margin-bottom:50px !important;
  }

  .css-r6z5ec{
    background-color: #334155 !important;
  }

  .css-1kfu8nn
  {
    background-color: #334155 !important;
  }

  .css-18esm8n{
    background-color: #334155 !important;
  }

  .MenuItem{
    background-color: white !important;
    border-radius: none !important;
  }

  .DoctorMenuItem{
    background-color: #334155 !important;
    /* color: black !important; */
  }

  /* BookingSuccess.css */

/* Container for the success message */
.booking-success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7%;
  /* height: 100vh; */
  /* background-color: #f5f5f5; */
  font-family: Arial, sans-serif;
}

/* Icon style (you can replace this with your own SVG or image) */
.success-icon {
  color: #4caf50;
  font-size: 48px;
  margin-bottom: 20px;
}
.bookingsList{
  z-index: 2 !important;
}
.feedback-modal-content {
  max-width: 50% !important;
}
.pdf-modal
{
  max-width: max-content !important;
}
.react-pdf__Page__canvas
{
  width: 1000px !important;
  height: 800px !important;
}