.react-pdf_Page_canvas{
    margin-bottom:50px !important;
  }

  .css-r6z5ec{
    background-color: #334155 !important;
  }

  .css-1kfu8nn
  {
    background-color: #334155 !important;
  }

  .css-18esm8n{
    background-color: #334155 !important;
  }

  .MenuItem{
    background-color: white !important;
    border-radius: none !important;
  }

  .DoctorMenuItem{
    background-color: #334155 !important;
    /* color: black !important; */
  }